<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Token Genrator</title>
    <base href="/" />
  </head>
  <body style="background-color: #00DBDE; background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);">
    <h1>Just another ERC20 DAPP</h1>
    <div id="root"></div>
  </body>
</html>